<h1>Create a new recipe</h1>

<form action = "new" method ="POST">
  <label for="name"> Please type in the name of your recipe: </label>
  <input name="name">
  <br>
  <label for="description"> Please type in the description of your recipe: </label>
  <input name="description">
  <br>
  <label for="time_to_cook"> How many minutes will it take to make this recipe? </label>
  <input name="time_to_cook">
  <br>
  <label for="difficulty"> How difficult is this recipe (easy, medium, hard)?: </label>
  <input name="difficulty">
  <br>
  <input type="submit" value="Submit">
</form>


